/.HA_VERSION
/.uuid
/home-assistant.log
/home-assistant_v2.db
/known_devices.yaml
/secrets.yaml
/deps/
/tts/
/ecobee.conf
/home-assistant_v2.db-shm
/home-assistant_v2.db-wal
/.storage/
/creds.data
/custom_components/

automations-backup.yaml

*.pickle

SERVICE_ACCOUNT.json

gactions
*.log.*
*.yaml.deprecated
home-assistant_v2.db.save
